server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            # Route 1: Identity Service
            - id: identity-service
              uri: lb://IDENTITY-SERVICE
              predicates:
                - Path=/auth/**

            # Route 2: Product Service
            - id: product-service
              uri: lb://PRODUCT-SERVICE
              predicates:
                - Path=/products/**
              filters:
                - AuthenticationFilter

            # Route 3: Cart Service
            - id: cart-service
              uri: lb://CART-SERVICE
              predicates:
                - Path=/cart/**
              filters:
                - AuthenticationFilter

jwt:
  secret: 5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
